@font-face{
  font-family: 'Apple II';
  src: url('node_modules/text-engine/font.ttf');
}

body {
  margin: 0;
  background-color: hsl(302, 10%, 99%);
  font-family: 'Varela Round', sans-serif;
  font-size: 3.5vh;
  color: hsl(302, 10%, 99%);
  width: 100vw;
  height: 100vh;
}

.room {
  width: 50vh;
  height: 20vh;
  border-radius: 2vh;
  border-top: 25px solid hsl(268, 94%, 77%);
  padding: 0 4vh;
  background-color: hsl(268, 94%, 25%);
  position: absolute;
  user-select: none; /* Prevent accidental highlighting while dragging rooms */
  box-shadow: 1vh 1vh hsl(268, 94%, 15%);
}

.title {
  font-size: 5vh;
  display: block;
}

.prop {
  color: hsla(302, 10%, 99%, 0.6);
}

.value {
  font-family: 'Raleway Dots', serif;
}

.img {
  font-family: 'Apple II';
  font-size: 2vh;
  white-space: pre;
}

[draggable=true] {
  cursor: move;
}

.resizable {
  overflow: scroll;
  resize: both;
}