@font-face{
  font-family: 'Apple II';
  src: url('node_modules/text-engine/font.ttf');
}

body {
  margin: 0;
  background-color: hsl(302, 10%, 90%);
  width: 100vw;
  height: 100vh;
  font-size: 1.75vh;
}

body * {
  color: hsl(302, 10%, 99%);
  font-family: 'Varela Round', sans-serif;
  border-radius: 1vh;
}

.buttons {
  position: absolute;
  top: 0.5vh;
  right: 0.5vh;
  z-index: 9999999;
}

button {
  background-color: hsl(164, 94%, 25%);
  box-shadow: 0.5vh 0.5vh hsl(164, 94%, 15%);
  font-size: 2.5vh;
  border: none;
  padding: 0.5vh;
  margin: 0.5vh;
  width: 20vh;
}

button:focus {
  outline: none;
}

.card {
  background-color: hsl(164, 94%, 25%);
  box-shadow: 0.5vh 0.5vh hsl(164, 94%, 15%);
  border-top: 25px solid hsl(164, 94%, 77%);
  width: 25vh;
  height: 10vh;
  padding: 0 2vh;
  position: absolute;
  user-select: none; /* Prevent accidental highlighting while dragging rooms */
}

.room {
  background-color: hsl(268, 94%, 25%);
  box-shadow: 0.5vh 0.5vh hsl(268, 94%, 15%);
  border-top: 25px solid hsl(268, 94%, 77%);
}

.title {
  font-size: 2.5vh;
  display: block;
}

.prop {
  color: hsla(302, 10%, 99%, 0.6);
}

.value {
  font-family: 'Raleway Dots', serif;
}

select, textarea {
  font-size: 1.75vh;
  color: black;
}

a:hover {
  text-decoration: underline;
}

.value:empty::after {
  content: 'None';
}

.img {
  font-family: 'Apple II';
  font-size: 1vh;
  white-space: pre;
}

[draggable=true] {
  cursor: move;
}

.resizable {
  overflow: scroll;
  resize: both;
}

svg {
  z-index: -1;
  position: absolute;
}