@font-face{
  font-family: 'Apple II';
  src: url('node_modules/text-engine/font.ttf');
}

body {
  margin: 0;
  background-color: hsl(302, 10%, 90%);
  width: 100vw;
  height: 100vh;
  font-size: 3.5vh;
}

body * {
  color: hsl(302, 10%, 99%);
  font-family: 'Varela Round', sans-serif;
  border-radius: 2vh;
}

.buttons {
  position: absolute;
  top: 1vh;
  right: 1vh;
  z-index: 9999999;
}

button {
  background-color: hsl(164, 94%, 25%);
  box-shadow: 1vh 1vh hsl(164, 94%, 15%);
  font-size: 5vh;
  border: none;
  padding: 1vh;
  margin: 1vh;
  width: 40vh;
}

button:focus {
  outline: none;
}

.room {
  background-color: hsl(268, 94%, 25%);
  box-shadow: 1vh 1vh hsl(268, 94%, 15%);
  width: 50vh;
  height: 20vh;
  border-top: 25px solid hsl(268, 94%, 77%);
  padding: 0 4vh;
  position: absolute;
  user-select: none; /* Prevent accidental highlighting while dragging rooms */
}

.title {
  font-size: 5vh;
  display: block;
}

.prop {
  color: hsla(302, 10%, 99%, 0.6);
}

.value {
  font-family: 'Raleway Dots', serif;
}

.value:empty::after {
  content: 'None';
}

.img {
  font-family: 'Apple II';
  font-size: 2vh;
  white-space: pre;
}

[draggable=true] {
  cursor: move;
}

.resizable {
  overflow: scroll;
  resize: both;
}

svg {
  z-index: -1;
  position: absolute;
}